.calculadora {
  width: 200px;
  border: 1px solid gray;
  background-color: lightgray;
  padding: 5px;
}

p.resultado {
  background-color: white;
  color: black;
  height: 20px;
  text-align: center;
  line-height: 100%;
  padding-top: 5px;
}

.botonesNumeros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.botonesNumeros button {
  width: 33%;
  height: 30px;
}

.botonesNumeros button:last-child {
  width: 100%;
}

.botonesCalculos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.botonesCalculos button {
  width: 25%;
  height: 30px;
}

.botonesCalculos button:last-child {
  width: 100%;
}
